html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

#contenedor-principal {
  text-align: center;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 2em;
  width: 80%;
  max-width: 500px;
  margin: 2rem auto;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

#btn-iniciar-escucha {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}